Imported Libaries

In [1]:
import os
root_dir = r'c:\Users\jf79\Cloned Repos\Footfall-Repo'
os.chdir(root_dir)

import pandas as pd

import myfuncs.myfuncs as mf
import myfuncs.footfallfuncs as ff

mf.read_directory()

import warnings
warnings.filterwarnings('ignore')

Your Current Directory is: c:\Users\jf79\Cloned Repos\Footfall-Repo
Files in: ['.git', 'Footfall.venv', 'Footfall_Scripts', 'myfuncs', 'README.md']

In [2]:
cwd = r'C:/Users/jf79/OneDrive - Office Shared Service/Documents/H&F Analysis/Footfall and Spend Analysis/Footfall Data'
mf.read_directory(cwd)

Directory being read is: C:/Users/jf79/OneDrive - Office Shared Service/Documents/H&F Analysis/Footfall and Spend Analysis/Footfall Data
Files in: ['Area Based', 'Hex Based', 'LSOA Based', 'Mapping']

In [3]:
footfall_2024_data = pd.read_csv(f'{cwd}/Hex Based/Footfall Counts/hex_3hourly_counts_2024.csv')
hex_to_borough_data = pd.read_csv(f'{cwd}/Hex Based/Footfall Counts/BT Hex ID to Borough Lookup Table.csv')
relevant_hexes_data = pd.read_csv(f'{cwd}/Hex Based/Relevant Hexes/Relevant Hexes.csv')
bespoke_areas_data = pd.read_csv(f'{cwd}/Area Based/bespoke_3hourly_counts_2022-05-01_2025-02-09.csv')

In [ ]:
values_to_keep = [
    "Sands End","Fulham Town","Parsons Green & Sandford","Palace & Hurlingham","Munster",
    "Walham Green","Lillie","Fulham Reach","West Kensington","Hammersmith Broadway",
    "Avonmore","Ravenscourt","Brook Green","Grove","Addison","Wendell Park",
    "Coningham","Shepherd's Bush Green","Wormholt","White City","College Park & Old Oak"
]

bespoke_areas_data = pd.read_csv(f'{cwd}/Area Based/bespoke_3hourly_counts_2022-05-01_2025-02-09.csv')
ward_footfall = bespoke_areas_data.copy()

ward_footfall = ward_footfall[ward_footfall['name'].isin(values_to_keep)]
ward_footfall['hours'] = ward_footfall['hours'].str.strip("'")
ward_footfall.rename(
    columns={
        'hours':'time_indicator',
    },
    inplace=True
)
ward_footfall

,bespoke_area_id,name,count_date,time_indicator,resident,visitor,worker,ave_loyalty_percentage,ave_dwell_time
1953166,257,Sands End,2022-05-01,00-03,957,179,89,20.26,109.56
1953167,257,Sands End,2022-05-01,03-06,12538,4633,969,2.16,104.36
1953168,257,Sands End,2022-05-01,06-09,13383,5149,1224,3.42,139.48
1953169,257,Sands End,2022-05-01,09-12,15997,8379,1660,6.97,100.04
1953170,257,Sands End,2022-05-01,12-15,14451,10695,1972,5.95,88.25
...,...,...,...,...,...,...,...,...,...
2122626,277,College Park & Old Oak,2025-02-09,09-12,31155,13968,5345,7.69,87.92
2122627,277,College Park & Old Oak,2025-02-09,12-15,30906,21957,5956,9.36,73.75
2122628,277,College Park & Old Oak,2025-02-09,15-18,30295,23090,6002,8.35,74.16
2122629,277,College Park & Old Oak,2025-02-09,18-21,31449,17293,4932,6.38,83.96
2122630,277,College Park & Old Oak,2025-02-09,21-24,31496,8866,3539,5.17,104.07

In [ ]:
lon_footfall_2024 = footfall_2024_data.copy()
relevant_hexes = relevant_hexes_data.copy()
hex_to_borough = hex_to_borough_data.copy()

borough_footfall_2024 = pd.merge(
    lon_footfall_2024,
    hex_to_borough,
    right_on='Hex_ID',
    left_on='hex_id',
    how='left'
)

borough_footfall_2024 = borough_footfall_2024.groupby(['borough_name','count_date','time_indicator']).agg(
    resident = ('resident','sum'),
    worker = ('worker','sum'),
    visitor = ('visitor','sum')
).reset_index()

hf_footfall_2024 = pd.merge(
    relevant_hexes_data,
    lon_footfall_2024,
    left_on='Hex_ID',
    right_on='hex_id',
    how='left'
)

In [20]:
typical_day_averages = ff.typical_footfall(
    borough_footfall_2024, '2024-01-01', '2024-12-31',
    footfall_type=['residents','workers','visitors'],
    day_night=False,
    primary_key='borough_name'
)

for i in range(len(typical_day_averages)):
    if 'averages' in typical_day_averages[i].columns.to_list():
        display(typical_day_averages[i].sort_values(by='averages', ascending=False))
    elif 'daytime_mean' in typical_day_averages[i].columns.to_list():
        display(typical_day_averages[i].sort_values(by='daytime_mean', ascending=False))
    else:
        display(typical_day_averages[i])

Calculating typical daily footfall...
For Weedays and Weekends and Weekly averages...


Aggregating footfall data...
Missing kwargs: {'day_night'}
These args will be set to default values

Applying features...
Features applied.


Detecting anomalies...
613 anomalies have been detected.
Anomalies have been flagged and corrected.


Detecting anomalies...
0 anomalies have been detected.
Anomalies have been flagged and corrected.


Detecting anomalies...
285 anomalies have been detected.
Anomalies have been flagged and corrected.

Footfall Data Aggregated.

    year            borough_name       averages
32  2024             Westminster  927349.593286
5   2024                  Camden  508017.449454
29  2024           Tower Hamlets  420934.896956
27  2024               Southwark  397351.518540
21  2024                 Lambeth  373380.353435
24  2024                  Newham  351479.153981
31  2024              Wandsworth  327343.258587
1   2024                  Barnet  293532.972678
3   2024                   Brent  288555.349727
8   2024                  Ealing  278621.313817
16  2024              Hillingdon  275938.583333
7   2024                 Croydon  274045.133489
18  2024               Islington  270418.995316
10  2024               Greenwich  263704.744145
11  2024                 Hackney  263556.656518
12  2024  Hammersmith and Fulham  256666.657104
13  2024                Haringey  248687.389539
19  2024  Kensington and Chelsea  246597.421155
9   2024                 Enfield  238954.284934
6   2024          City of London  237381.957650
4   2024                 Bromley  235787.282787
22  2024                Lewisham  213591.703552
17  2024                Hounslow  213138.886612
25  2024               Redbridge  210126.321819
30  2024          Waltham Forest  209437.287861
15  2024                Havering  179800.613388
26  2024                Richmond  174829.547814
23  2024                  Merton  162334.423107
2   2024                  Bexley  161668.428962
14  2024                  Harrow  159755.454918
20  2024                Kingston  149130.450820
28  2024                  Sutton  139026.780055
0   2024    Barking and Dagenham  125190.827088

    year week_name            borough_name       averages
32  2024   Weekday             Westminster  917723.528626
5   2024   Weekday                  Camden  514992.375954
29  2024   Weekday           Tower Hamlets  418187.548800
27  2024   Weekday               Southwark  391263.018539
21  2024   Weekday                 Lambeth  360744.654853
24  2024   Weekday                  Newham  339145.201745
31  2024   Weekday              Wandsworth  315410.299618
1   2024   Weekday                  Barnet  296926.440840
16  2024   Weekday              Hillingdon  281069.980916
6   2024   Weekday          City of London  278768.461832
3   2024   Weekday                   Brent  276583.443293
8   2024   Weekday                  Ealing  274218.048255
18  2024   Weekday               Islington  270536.484460
7   2024   Weekday                 Croydon  270065.338604
10  2024   Weekday               Greenwich  253845.402126
12  2024   Weekday  Hammersmith and Fulham  252090.232279
11  2024   Weekday                 Hackney  250929.785169
19  2024   Weekday  Kensington and Chelsea  242905.914940
13  2024   Weekday                Haringey  237823.191112
4   2024   Weekday                 Bromley  236003.580153
9   2024   Weekday                 Enfield  233148.373228
17  2024   Weekday                Hounslow  211876.885496
22  2024   Weekday                Lewisham  207956.778353
25  2024   Weekday               Redbridge  204882.210196
30  2024   Weekday          Waltham Forest  203817.365049
15  2024   Weekday                Havering  177862.837786
26  2024   Weekday                Richmond  170372.730916
2   2024   Weekday                  Bexley  162149.561069
23  2024   Weekday                  Merton  160890.278626
14  2024   Weekday                  Harrow  157284.319793
20  2024   Weekday                Kingston  147889.637405
28  2024   Weekday                  Sutton  141230.101145
0   2024   Weekday    Barking and Dagenham  123378.437568

    year week_name            borough_name       averages
65  2024   Weekend             Westminster  951599.871566
38  2024   Weekend                  Camden  490446.000000
62  2024   Weekend           Tower Hamlets  427856.100962
60  2024   Weekend               Southwark  412689.855082
54  2024   Weekend                 Lambeth  405212.594093
57  2024   Weekend                  Newham  382551.225962
64  2024   Weekend              Wandsworth  357405.135989
36  2024   Weekend                   Brent  318715.344780
44  2024   Weekend                 Hackney  295366.659341
41  2024   Weekend                  Ealing  289714.155907
43  2024   Weekend               Greenwich  288542.701923
34  2024   Weekend                  Barnet  284984.043269
40  2024   Weekend                 Croydon  284071.155220
46  2024   Weekend                Haringey  276056.812500
51  2024   Weekend               Islington  270123.013049
45  2024   Weekend  Hammersmith and Fulham  268195.727335
49  2024   Weekend              Hillingdon  263011.408654
52  2024   Weekend  Kensington and Chelsea  255897.177198
42  2024   Weekend                 Enfield  253580.716346
37  2024   Weekend                 Bromley  235242.379808
55  2024   Weekend                Lewisham  227787.380495
63  2024   Weekend          Waltham Forest  223595.170330
58  2024   Weekend               Redbridge  223337.449176
50  2024   Weekend                Hounslow  216318.158654
59  2024   Weekend                Richmond  186057.298077
48  2024   Weekend                Havering  184682.317308
47  2024   Weekend                  Harrow  165980.814560
56  2024   Weekend                  Merton  165972.556319
35  2024   Weekend                  Bexley  160456.346154
53  2024   Weekend                Kingston  152256.346154
61  2024   Weekend                  Sutton  133476.105769
39  2024   Weekend          City of London  133119.802885
33  2024   Weekend    Barking and Dagenham  129756.654533

In [21]:
mf.export_to_csv(typical_day_averages[0])

Exproting typical_borough_averages  to CSV...
@ C:\Users\jf79\OneDrive - Office Shared Service\Documents\H&F Analysis\Python CSV Repositry\typical_borough_averages .csv

Successfully exported typical_borough_averages  to CSV